<!--<div class="container">-->


<!--  <table mat-table>-->
<!--  <tr>-->
<!--    <th mat-header-cell *matHeaderCellDef>Name</th>-->
<!--    <th>Email</th>-->
<!--    <th>Instrument</th>-->
<!--  </tr>-->
<!--  <tr *ngFor="let user of users">-->
<!--    <td>{{user.name}}-->
<!--      <button (click)="openDialog(user.name, user.id)" mat-icon-button color="warn" aria-label="Example icon button with a home icon">-->
<!--        <mat-icon>block</mat-icon>-->
<!--      </button>-->
<!--    <td>{{user.email}}</td>-->
<!--    <td>{{user.instrument}}</td>-->
<!--  </tr>-->
<!--  </table>-->
<!--</div>-->
<app-data-table></app-data-table>
