<mat-card>
  <div style="text-align: center" *ngIf="validMessage">
    <p>{{validMessage}}</p>
  </div>
  <mat-card-title>Change Your Data</mat-card-title>
  <mat-card-content>
    <form class="form">
      <div class="form-group">
        <p>
          <mat-form-field>
            <input type="text" matInput [(ngModel)]="user.username" name="Username" placeholder="Username" required>
          </mat-form-field>
        </p>

      </div>
      <div class="form-group">
        <p>

          <mat-form-field>
            <input type="text" matInput [(ngModel)]="user.email" name="Email" placeholder="Email" required>
          </mat-form-field>
        </p>
      </div>
      <div class="form-group">
        <p>
          <mat-form-field>
            <input type="text" matInput [(ngModel)]="user.password" name="password" placeholder="Password"
                   required>
          </mat-form-field>
        </p>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Security Question</mat-label>
          <mat-select [(ngModel)]="user.securityQuestion" name="instrumentId">
            <mat-option *ngFor="let question of Questions" [value]="question.trim()">
              {{question}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <p>
          <mat-form-field>
            <input type="text" matInput [(ngModel)]="user.securityAnswer" name="answer" placeholder="Answer"
                   required>
          </mat-form-field>
        </p>
      </div>
      <div class="button">
        <button type="button" (click)="createUser()" mat-button>Register</button>
      </div>
    </form>
  </mat-card-content>

</mat-card>
