<mat-card class="custom-confirmation-box">
  <div *ngIf="message">
    <h1>{{message}}</h1>
  </div>
  <div *ngIf="isUser; then securityQuestion else usernameInput">
  </div>
</mat-card>
<ng-template #securityQuestion>
  <h1 mat-dialog-title>Please answer the Securityquestion</h1>
  <p>{{user.securityQuestion}}</p>
  <mat-form-field>
    <input type="text" matInput [(ngModel)]="answerVerification.answer" name="answer" placeholder="Answer" >
  </mat-form-field>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="onClick()" >Cancel</button>
    <button mat-raised-button color="warn" (click)="resetPassword()">Confirm Answer</button>
  </div>
</ng-template>


<ng-template #usernameInput>
  <h1 mat-dialog-title>Please inser your Username</h1>
  <mat-form-field>
    <input type="text" matInput [(ngModel)]="username" name="username" placeholder="Username" >
  </mat-form-field>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="onClick()" >Cancel</button>
    <button mat-raised-button color="warn" (click)="checkUsername()">Confirm Username</button>
  </div>
</ng-template>
