/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


html{
  height: 100%;

}
body{
  background-image: linear-gradient(120deg, #f5a04c, #ee7700, #eb5f5e, #7b1959, #000000);
  font-family: 'Gotham', serif;

}

.mat-dialog-container{
  padding: 0!important;
}
td{
  color: white;
}
